<p>Añadir comentario: </p>

<form method="post" action="/quizes/<%=quizid%>/comments/" >      
  <input type="text" id="comment" name="comment[texto]" value=""/> <br>
  <button type="submit">Enviar</button>
</form>
<p>Tras añadir comentario quedará en espera de moderación, no se visualizará hasta que el administrador lo apruebe</p>