<label for="preg" class="rem">Pregunta:</label>
   <% attInput="placeholder"; if (quiz.pregunta!=='Pregunta') { attInput="value";}%>
<input type="text" id="preg" name="quiz[pregunta]" <%= attInput%>="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" <%= attInput%>="<%= quiz.respuesta %>"/> <p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Guardar">